/* start first popup  */
.btn-white-shadow {
  width: 100%;
min-height: 40px; 
background: #ffffff;
border-radius: 23.5px;
box-shadow: 0px 4px 4px rgba(190, 190, 190, 0.46);
font-style: normal;
font-weight: 500;
font-size:clamp(8px ,4vw , 14px);
line-height: 20px;
color: #30447f;
display: grid;
place-items: center;
transition: .3s;
&:hover {
  outline: 4px solid #99c3e7;
}
&.active {
  border: 4px solid #99c3e7;
}
} 




  /* .popup-type-server {
    background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width:min(657px , 80%);
  min-height: 472px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50% , -50%);
   transition: .5s;
  }
  .box-subtitel {
  font-style: normal;
  font-weight: 500;
  font-size:clamp(7px ,4vw , 1rem);
  line-height: 21px;
  color: #aeb6cf;
  }
  
  .arrow-right {
    font-size:clamp(1rem ,4vw ,1.5rem );
    font-weight: 500;
  } */